# Application
APP_NAME="Muhammad Elkorashy"
APP_ENV=production
APP_KEY=base64:VONNDPjQWctnIaGzq7AKexspSTfkFKrFLrlNa8+eTR8=
APP_DEBUG=false
APP_URL=https://media-buyer-production-3173.up.railway.app/

# Logging
LOG_CHANNEL=stack

# Cache, Sessions & Queue
CACHE_STORE=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync

# Database
DB_CONNECTION=sqlite
DB_DATABASE=/app/database/database.sqlite

# Vite
VITE_APP_NAME="${APP_NAME}"