# Application
APP_NAME="Muhammad Elkorashy"
APP_ENV=production
APP_DEBUG=false
APP_KEY=base64:czZJb/3WIW2EzdaCv9EgP/FeIyDHuWBOqBPe7y09m9E=
APP_URL=https://media-buyer-production-cb13.up.railway.app/

# Logging
LOG_CHANNEL=stack

# Cache, Sessions & Queue
CACHE_STORE=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync

# Database
DB_CONNECTION=sqlite
DB_DATABASE=/app/database/database.sqlite

# Vite
VITE_APP_NAME="${APP_NAME}"